In [12]:
# 네이버와 민연의 "단어" 아이디 매칭 
import pandas as pd

In [13]:
# KORDIC : 실제 민연 디비자료 
KORDIC = pd.read_csv('../asset/kordic_id.csv')
# NAVER : id_prepare.ipynb에서 나눈 "단어" 표제어 부분만 가져온 것
NAVER = pd.read_csv('../asset/ohw_id.csv')

In [14]:
NAVER

       제공처표제어  어깨번호                             엔트리ID 표제어종류
0          -ㄴ     3  4dfed56126724985827f34e5c6f97066    단어
1          -ㄴ     4  9bf80730e3c04c4cbe99e2dbebf9aa95    단어
2          -ㄴ     5  88ecf78c25bf43068bbc6cf4c5b9407d    단어
3         -ㄴ-     2  e0cd3206ce574797a23d4d95838eeb1f    단어
4         -ㄴ가     0  1e2f6df9f02e47b38876b9de9a1b4bd1    단어
...       ...   ...                               ...   ...
394990     힝이     0  7bb7460f07da43689f8baf357d1687e7    단어
394991     힝힝     1  4bfb1111376a42018aeb2720ad654b3b    단어
394992     힝힝     2  bbb15e8a24f94a1f8c3174de73cda717    단어
394993  힝힝거리다     0  02f9f94c2c044dab985c80a6cb997be0    단어
394994   힝힝대다     0  a3f7aec20d6a4301abaa568fc2eab801    단어

[394995 rows x 4 columns]

In [15]:
KORDIC = KORDIC.sort_values(by=['제공처표제어', '어깨번호'])
KORDIC = KORDIC.reset_index(drop=True)
KORDIC

         제공처ID 제공처표제어  어깨번호
0        56982     -ㄴ     3
1        56983     -ㄴ     4
2        56984     -ㄴ     5
3        56981    -ㄴ-     2
4        56985    -ㄴ가     0
...        ...    ...   ...
400329  386885     힝이     0
400330  386886     힝힝     1
400331  386887     힝힝     2
400332  386888  힝힝거리다     0
400333  386889   힝힝대다     0

[400334 rows x 3 columns]

In [16]:
# cnt = 0
# LEN_NAVER = len(NAVER)
# LEN_KORDIC = len(KORDIC)
# for i in range(LEN_NAVER):
#     target_ohw = NAVER.loc[i, 'ohw']
#     target_shoulder = NAVER.loc[i, 'shoulder']
#     start = 0
#     end = LEN_KORDIC - 1
#     while (start <= end):
#         mid = (start + end) // 2
#         try_ohw = KORDIC.loc[mid, 'ohw']
#         try_shoudler = KORDIC.loc[mid, 'onum']
#         if target_ohw == try_ohw:
#             if target_shoulder == try_shoudler:
#                 NAVER.loc[i, 'kordic_eid'] = KORDIC.loc[mid, 'eid']
#                 break
#             else:
#                 cnt += 1
#                 for j in range(LEN_KORDIC):
#                     if KORDIC.loc[j, 'ohw'] == target_ohw:
#                         if KORDIC.loc[j, 'onum'] == target_shoulder:
#                             NAVER.loc[i, 'kordic_eid'] = KORDIC.loc[j, 'eid']
#                             break
#                 break
#         elif target_ohw < try_ohw:
#             end = mid - 1
#         elif target_ohw > try_ohw:
#             start = mid + 1
    
#     if i % 10000 == 0:
#         print(f"finished : {i}")

# print(f"FUCKING METHOD COUNT : {cnt}")

In [19]:
KORDIC = pd.merge(
    KORDIC,
    NAVER[["제공처표제어", "어깨번호", "엔트리ID"]], 
    on=["제공처표제어", "어깨번호"],
    how="left",
    suffixes=("", "_NAVER")
)

KORDIC["엔트리ID"] = KORDIC["엔트리ID_NAVER"].combine_first(KORDIC["엔트리ID"])
KORDIC.drop(columns=["엔트리ID_NAVER"], inplace=True)

In [27]:
KORDIC

         제공처ID 제공처표제어  어깨번호                             엔트리ID
0        56982     -ㄴ     3  4dfed56126724985827f34e5c6f97066
1        56983     -ㄴ     4  9bf80730e3c04c4cbe99e2dbebf9aa95
2        56984     -ㄴ     5  88ecf78c25bf43068bbc6cf4c5b9407d
3        56981    -ㄴ-     2  e0cd3206ce574797a23d4d95838eeb1f
4        56985    -ㄴ가     0  1e2f6df9f02e47b38876b9de9a1b4bd1
...        ...    ...   ...                               ...
400506  386885     힝이     0  7bb7460f07da43689f8baf357d1687e7
400507  386886     힝힝     1  4bfb1111376a42018aeb2720ad654b3b
400508  386887     힝힝     2  bbb15e8a24f94a1f8c3174de73cda717
400509  386888  힝힝거리다     0  02f9f94c2c044dab985c80a6cb997be0
400510  386889   힝힝대다     0  a3f7aec20d6a4301abaa568fc2eab801

[400511 rows x 4 columns]

In [31]:
KORDIC = KORDIC.fillna('')
condition = KORDIC['엔트리ID'] == ''
KORDIC[condition]

         제공처ID  제공처표제어  어깨번호 엔트리ID
322         74      -가    19
323     258998      -가    20
324        877     -가라     8
327       4691      -간    21
328       4692      -간    22
...        ...     ...   ...   ...
400348  386731     힌디어     0
400407  466123      힐링     0
400468  464831   힘의 방향     0
400470  447453  힘의 삼요소     0
400472  464833  힘의 작용점     0

[7257 rows x 4 columns]

In [29]:
KORDIC.to_csv('../asset/ohw_id.csv', index=False)